<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">
        
     
  
  <test name="Test1" enabled="true">
    
    <packages>
      <package name="com.mycompany.app"/>
    </packages>
  </test> 
    
    
   <!--  <classes>
      <class name="com.mycompany.app.AppTest"/>
    </classes>
  </test>  -->
  
  <!--  <test name="Test1" enabled="true">
     <parameter name="deviceName" value="320449EB32317167"></parameter>
   <parameter name="env.resources" value="src/test/resources/android"/>
    <parameter name="filepath" value="PerformAssessment.xlsx"/>
     <parameter name="sheetnum" value="Test14"/>
        
    <classes>
      <class name="com.ibm.nestle.farms.testcases.CreateAssessment_Web"/>
    </classes>
  </test> -->
  
<!--    <test name="Test1" enabled="true">
     <parameter name="deviceName" value="4A97D10C0193F68E"></parameter>
  <parameter name="env.resources" value="src/test/resources/android"/>
    <parameter name="filepath" value="src/test/resources/testdata/PerformAssessment.xlsx"/>
     <parameter name="sheetnum" value="0"/>
        
    <classes>
      <class name="com.ibm.nestle.farms.testcases.CreateAssessment_Web02"/>
    </classes>
  </test> Test -->
  
  
  <!--  <test name="Test2" enabled="true">
     <parameter name="deviceName" value="4A97D10C0193F68E"></parameter>
   <parameter name="env.resources" value="src/test/resources/android"/>
        <parameter name="filepath" value="src/PerformAssessment.xlsx"/>
         <parameter name="sheetname" value="Test2"/>
    <classes>
      <class name="com.ibm.nestle.farms.testcases.LoginToAppTest"/>
    </classes>
  </test>
   -->
  
</suite> <!-- Suite -->
